{% extends 'index.html' %}

{% block content %}
{% comment %} <div class="container"> {% endcomment %}
    <div class="listform">
    <h1 class="text-center">Create Room</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Room Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="capacity">Capacity:</label>
            <input type="number" class="form-control" id="capacity" name="capacity" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="topic">Topic:</label>
            <select class="form-control" id="topic" name="topic" required>
                <option value="Movie">Movie</option>
                <option value="Music">Music</option>
                <option value="Book">Book</option>
                <option value="Others">Others</option>
            </select>
        </div>
        <button type="submit" class="addlist">Create Room</button>
    </form>
</div>
{% endblock %}

