{% extends "index.html" %} 
{% load static %} 
{% block content %}
<style>
.room_name{
    padding-bottom: 22px;
}
.room_title_head{
    padding: 8px 0;
    text-align: center;
    background-color: rgb(0, 109, 94);
    color: wheat;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 94px;
}
.room_title_head h1{
    padding-bottom: 12px;
}

.messages_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    align-items: center;
}
.container_top{
    padding-top: 110px;
}
.message{
    background-color: teal;
    margin: 6px 8px;
    padding: 10px 14px;
    border-radius: 23px;
    width: max-content;
    max-width: 70vw;
    box-shadow: 2px 2px 1px #00000030;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}
.message_self{
    background-color: green;
}
.chat_messages{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 90vw;
    height: 55vh;
    {% comment %} background-color: wheat; {% endcomment %}
    {% comment %} background-image: url('{% static 'app/images/chat_background.jpg' %}'); {% endcomment %}
    {% comment %} background-size: cover; {% endcomment %}
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #37a04d 10px ), repeating-linear-gradient( #016d00, #006d5e );
    border-radius: 4px;
    border: 2px solid teal;
    overflow-y: scroll;
    margin: 0 8px;
}
.messsage_username{
    color: wheat;
    padding-bottom: 8px;
    filter: drop-shadow(1px 1px 0px #00000090);
}
.message_message{
    color: white;
    font-style: bold;
}
.scroll-top-bot{
    display: flex;
    flex-direction: row;
    position: sticky;
    right: 0;
    bottom: 0;
    margin-top: 6px;
    {% comment %} background-color: pink; {% endcomment %}
    width: max-content;
    height: max-content;
}
.scroll-chat-top, .scroll-chat-bottom{
    height: 26px;
    width: 26px;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    background-color: teal;
    color: wheat;
    margin: 2px 0px;
    margin-right: 6px;
    {% comment %} box-shadow: 1px 0px 1px #0000003d; {% endcomment %}
    box-shadow: none!important;
    transition: all 250ms ease-in-out; 
    filter: none!important;
}
.scroll-chat-top:hover, .scroll-chat-bottom:hover{
    background-color: #000000d1;
    color: white;
}
.scroll-chat-bottom{
    transform: rotate(180deg);
}
.chatroom_delete{
    height: 30px;
    cursor: pointer;
    margin-right: 44px;
} 
</style>
<div class="room_title_head">
    <h1>{{room.name}}</h1>
    <p>Please maintain decency in the chatroom.</p>
</div>
<div class="messages_container container_top">
    <div class="chat_messages" id = "chat-messages">
        {% for message in messages %}
        {% if message.user.username == user.username %}
        <div class="message message_self">
            <p class="messsage_username">{{ message.user.username }}</p>
            <p class="message_message">{{ message.content }}</p>
        </div>
        {% else %}
        <div class="message">
            <p class="messsage_username">{{ message.user.username }}</p>
            <p class="message_message">{{ message.content }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="scroll-top-bot">
        {% if user.id == room.user.id %}
        <a href="{% url 'room_delete' room.pk %}"><img class="chatroom_delete" src ="{% static 'app/images/delete.png' %}"></a>
        {% comment %} {% else %}
        <img class="chatroom_delete" src ="{% static 'app/images/delete-dis.png' %}"> {% endcomment %}
        {% endif %}
        <button class="scroll-chat-top" id="scroll-chat-top"><h1>^</h1></button>
        <button class="scroll-chat-bottom" id="scroll-chat-bottom"><h1>^</h1></button>
    </div>
</div>
<style>
.messages_container form{
    display: flex;
    width: max-content;
} 
.messages_container form input{
    padding: 10px 4px;
    border: 1px solid teal;
    border-radius: 4px;
    height: 40px;
    margin-top: 8px;
    width: 70vw;
}
.messages_container form button{
    border: none;
    height: 0;
    width: 0;
}
.messages_container form button img{
    margin-top: 5px;
    margin-left: 6px;
    height: 44px;
}
.send_message{
    height: 100px;
    padding-bottom: 124px;
}
</style>
<div class="messages_container send_message">
    <form action="." method="post">
        {% csrf_token %}
        <input type="text" name="content" placeholder="write your message..." id="chat-message-input">
        <button id ="chat-message-submit"><img src="{% static 'app/images/send.png' %}" alt=""></button>
    </form>
</div>
{% endblock content %}

{% block scripts %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}
<script>
    const divv = document.querySelector('#chat-messages')
    const top_btn = document.querySelector('#scroll-chat-top')
    const bottom_btn = document.querySelector('#scroll-chat-bottom')
    top_btn.addEventListener('click', () => {
    divv.scroll({
        top: 0,
        behavior: 'smooth'
    });
    });
    bottom_btn.addEventListener('click', () => {
        divv.scrollTop = divv.scrollHeight;
    });

    window.onload = function() {
        let scroll_to_bottom = document.getElementById('chat-messages');
		scroll_to_bottom.scrollTop = scroll_to_bottom.scrollHeight;
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket(
        'wss://'
        + window.location.host
        + '/wss/'
        + roomName
        + '/'
    );
    chatSocket.onmessage = function(e) {
        console.log('onmessage')

        const data = JSON.parse(e.data);

        if (data.message) {
            let html = '<div class="message message_self">';
                html += '<p class="messsage_username">' + data.username + '</p>';
                html += '<p class="message_message">' + data.message + '</p></div>';

            document.querySelector('#chat-messages').innerHTML += html;
        } else {
            alert('The message was empty!');
        }
    }

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    //

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault();

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }));

        messageInputDom.value = '';

        return false;
    }
    }
</script>
{% endblock scripts %}