{% extends "app/edit_prof_base.html" %} 
{% load static %} 
{% block profile %}
<style>
  .title{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    max-width: 100%;
    height: max-content;
    {% comment %} background-color: green; {% endcomment %}
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
    {% comment %} color: wheat; {% endcomment %}
    color: black;
    font-size: 18px;
  }
  .title-dark-mode{
    color: white;
  }
  .title .title_content{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px 22px;
    {% comment %} background-color: blue; {% endcomment %}
  }
  .title .tag_ans{
  }
  .title .tag_ans form input{
    border: hidden;
    border-radius: 2px;
    outline: none;
    height: 22px;
    width: 180px;
    padding: 0 2px;
    font-size: 12px;
  }
  .title .tag_ans form input::file-selector-button{
    background-color: teal;
    border: hidden;
    border-radius: 4px;
    outline: none;
    padding: 2px 2px;
  }
  .title .tag_ans form button{
    border: hidden;
    outline: none;
    padding: 1px 4px;
    border-radius: 2px;
    height: 22px;
    color: wheat;
    color: black;
    background-color: #0099cc;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  .title .tag_ans a{
    {% comment %} color: wheat; {% endcomment %}
    {% comment %} color: black; {% endcomment %}
    font-size: 12px;
  }
  .title .mail{
    font-size: 12px;
  }

  .title .tag_ans form button:hover{
    background-color: transparent;
  }
  @media only screen and (max-width: 900px) {
    .title{
      font-size: 10px;
    }
    .title .mail{
      font-size: 8px;
    }
    .title .tag_ans a{
      font-size: 8px;
    }
    
  }
</style>


<div class="title" id="gen-op">
  <div class="title_content general">General</div>
  <div class="title_content edit_username"><div class="tagline">Edit Username</div><div class="tag_ans">
    <form>
      <input type="text" placeholder="{{user.username}}">
      <button type="submit">Change</button>
    </form>
  </div></div>
  <div class="title_content edit_profile_pic"><div class="tagline">Change profile picture</div><div class="tag_ans">
    <form>
      <input type="file" id="myFile" name="filename">
      <button type="submit">Upload</button>
    </form>
  </div></div>
  <div class="title_content edit_password"><div class="tagline">Change password</div><div class="tag_ans">
    <a href="#">Change</a>
  </div></div>
  <div class="title_content email"><div class="tagline">Change Email</div><div class="tag_ans mail">{{user.email}}</div></div>

</div>
{% endblock %}