{% extends "app/edit_prof_base.html" %} 
{% load static %} 
{% block profile %}
<style>
    .general-settings{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        color: rgb(0, 109, 94);
        {% comment %} background-color: red; {% endcomment %}
        width: 100vw;
        max-width: 100%; 
        padding: 8px;
        padding-bottom: 100px;
        padding-top: 40px;
    }
    .general-settings select{
        width: 50vw;
    }
    .general-settings textarea{
        border: none;
        width: 80vw;
        border: 1px solid gray;
    }
    .general-settings p label{
        color: rgb(0, 109, 94);
        display: block;
        clear: both;
        margin: 8px;
    }
    .general-settings button{
        border: none;
        padding: 4px 8px;
        background-color: red;
        border-radius: 4px;
        margin-top: 12px;
    }
    .general-settings .general{
        margin: 8px 0px;
        font-size: 18px;
        font-weight: 900;
    }
    
</style>
<div class="general-settings">
    <div class="general">
        <p>General</p>
    </div>
<form method='POST' enctype="multipart/form-data">
    {%csrf_token%}
    {% comment %} {{u_form|crispy}} {% endcomment %}
    {{p_form.as_p}}
    <button type='submit'>Update</button>
</form>
</div>
{% endblock %}